*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    background-image: linear-gradient(to right,rgba(8,19,92,.9),rgba(8,19,92,.9)),url("images/slider-bg.jpg");
background-size: cover;
padding-bottom: 200px;
}
header .nav_bar nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:18px ;

}
header .nav_bar .logo a{
    font-size: 28px;
    font-weight: 650;
    padding-left: 16px;
    color: #fff;
    text-decoration: none;
    letter-spacing: .3px;
}
header .nav_bar nav .menu_nav_bar ul{
    display: flex;
}
header .nav_bar nav .menu_nav_bar ul  li{
    padding: 10px 23px;
    font-size: 14px;
    list-style: none;
    text-transform: uppercase;
}
header .nav_bar nav .menu_nav_bar ul:hover{
    color: #e41a2b;
}

header .nav_bar nav .menu_nav_bar ul  li a{
    color: #fff;
    text-decoration: none;
}
header .nav_bar nav .menu_nav_bar ul  li a:hover{
    color: #e41a2b;
}

header .nav_bar nav .menu_nav_bar ul  li a i{
    color: #fff;
    margin-right: 10px;
}
header .nav_bar nav .menu_nav_bar ul  li a i:hover{
    color: #e41a2b;
}

header .career_section{
    padding-top: 120px;
    text-align: center  ;
}
header .career_section h6{
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    width: 400px;
    margin: auto;
    letter-spacing: .5px;
    line-height: 50px;
}
header .career_section p{
    font-size: 18px;
    color: #fff;
    width: 650px;
    margin: auto;
    padding: 10px;
    line-height: 25px;
}
header .career_section .form_career ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    list-style: none;
    row-gap: 10px;
}
header .career_section .form_career ul li{
    /* margin-right: 10px; */
    padding: 10px 5px;
}
header .career_section .form_career ul li input{
    width: 260px;
    height: 46px;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
    border: 0cap;
}
header .career_section .form_career ul li select{
    width: 260px;
    height: 46px;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 14px;
    background-color: #fff;
    border: 0cap;
    color: rgb(73, 80, 87);
}
header .career_section .form_career ul li button{
    color: #fff;
    background-color: #e41a2b;
    width: 190px;
    height: 46px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #e41a2b;
}
header .career_section .form_career ul li button:hover{
    background: transparent;
    color: #e41a2b;
}

header .check_box ul{
    display: flex;
    justify-content: center;
    list-style: none;
    color:#fff;
}
header .check_box ul li{
    font-size: 16px;
    margin-left: 15px;
}
header .check_box ul li input{
    width: 20px;
    height: 20px;
}
header .check_box ul li :hover{
    color: #e41a2b;
}
main .course_cards ul{
    background-color: #e41a2b;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
main .course_cards .card{
    width: 240px;
    height: 160px;
    padding-top: 35px;
    padding-bottom: 40px;
    cursor:pointer;
    padding: 0xp 15px;
    text-align: center;}
main .course_cards .card:hover{
    background-color: #b61522;
}
main .course_cards .card img{
    width: 60px;
    padding-bottom: 5px;
}
main .course_cards .card a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
main .about{
    display: flex;
    padding: 0px 150px;
    padding-top: 100px;
}
main .about .left_card{
    padding: 15px;
}
main .about .left_card h6{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}
main .about .left_card button{
    margin-top : 35px;
    width: 175px;
    height: 45px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #08135c;
    background-color: #08135c;
    border-radius: 5px;
}
main .about .left_card button:hover{
    background-color: #fff;
    color: #08135c;
}
main .right_card img{
    border-radius: 20px;
}
.jobs{
    margin-top: 90px;
    padding: 150px 150px 100px 150px;
    background-color: #08135c;
}
.jobs h4{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 30px;
}
.jobs .featued_container .heading{
    font-size: 28px;
    font-weight: 300;
    color: #fff;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.container{
    display:flex ;
    justify-content: space-between;
    flex-wrap: wrap;
}
.jobs .featued_jobs_container{
    width: 555px;
    border: 1PX solid #fff;
    padding: 20PX;
    border-radius: 5px;
    margin-bottom: 35px;
}
.jobs .featued_jobs_container .box_container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.jobs .featued_jobs_container .box_container .img_box{
    width: 100px;
    height: 100px;
    background-color: #fff;
    margin-right: 20px;
}
.jobs .featued_jobs_container .box_container .img_box img{
    max-width: 50px;
    margin: 25px;

}
.jobs .featued_jobs_container .box_container .course_container h6{
    font-size: 21px;
    width: 360px;
    font-weight: 600;
    color: #fff;
}
.jobs .featued_jobs_container .box_container .course_container .dollar{
    display: flex;
    font-size: 16px;
    flex-wrap: wrap;
}
.jobs .featued_jobs_container .box_container .course_container .dollar p{
    margin-right: 15px;
    padding-top: 5px;
    color: #fff;
}
.jobs .featued_jobs_container .box_container .course_container .dollar p i{
    letter-spacing: 10px;
    color: #fff;
}
.jobs .featued_jobs_container .button{
    text-align: end;
    padding-top: 22px;  
}
.jobs .featued_jobs_container .button button{
    padding: 5px 15px;
    color: #fff;
    background-color: #213092;
    border: 1px solid #213092;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
}
.jobs .featued_jobs_container .button button:hover{
    background-color: transparent;
    
}
.jobs .featued_jobs_container .button i{
    font-size: 22px;
    color: #fff;
}
.jobs .View_button{
    text-align: center;
    padding-top: 20px;
}
.jobs .View_button button{
    padding: 10px 45px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #e41a2b;
    background-color: #e41a2b;
}
.jobs .View_button button:hover{
    background-color: transparent;
    color: #e41a2b;
}
.experts_container{
    padding: 100px 150px 55px 150px ;
}
.experts_container .experts_cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.experts_container .heading{
    text-align: center;
}
.experts_container .heading h6{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
}
.experts_container .heading p{
    padding: 10px 0px 30px 0px;
}
.experts_container .experts_cards .experts_card{
    height: 520px;
    width: 350px;
    border-radius: 10px;
    background-color: #08135c;
}
.experts_container .experts_cards .experts_card .img_box img{
    width: 350px;
    border-top-left-radius:10px;
    border-top-right-radius:10px ;
}
.experts_container .experts_cards .experts_card .details{
    padding: 18px 15px;
    color: #fff;
}
.experts_container .experts_cards .experts_card .details .name a{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}
.experts_container .experts_cards .experts_card .details .post_jobs{
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
}
.experts_container .experts_cards .experts_card .details .rating ul{
    display: flex;
    list-style: none;
    padding-bottom: 10px;
}
.experts_container .button{
    padding: 45px;
    text-align: center;
}
.experts_container .button button{
    font-size: 16px;
    padding: 10px 45px;
    color: #fff;
    border: 1px solid #e41a2b;
    border-radius: 5px;
    background-color: #e41a2b;
}
.experts_container .button button:hover{
    background-color: transparent;
    color: #e41a2b;
}
footer{
    padding: 64px 150px 45px 150px;
    background-color: #08135c;
    color: #fff;
}
.footer{
    display: flex;
}
footer .menu{
    flex: 1;
}
footer .menu .heading h6{
    font-size: 20px;
    font-weight: 700;
    padding-bottom:20px ;
}
footer .menu .check_box ul{
    list-style: none;
    line-height: 25px;
}
footer .menu .check_box ul input{
    width: 10px;
    
}
footer .job{
    flex: 2;
}
footer .job h6{
    font-size: 20px;
    font-weight: 700;
    padding-bottom:20px;
}
footer .job p{
    width: 240px;
}
footer .social_link{
    flex: 2;
}
footer .social_link h6{
    font-size: 20px;
    font-weight: 700;
    padding-bottom:20px;
}
footer .social_link ul{
    display: flex;
    list-style: none;
    align-items: center;
}
footer .social_link li i{
    margin: inherit;
    font-size: 18px;
}
footer .social_link ul li{
    background-color: #fff;
    color: #08135c;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
}
footer .social_link ul li:hover{
    color: #b61522;
}
footer .letters{
    flex:2
}
footer .letters h6{
    font-size: 20px;
    font-weight: 700;
    padding-bottom:20px;
}
footer .letters input{
    width: 350px;
    height: 45px;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 10px;
}
footer .letters button{
    padding: 10px 40px;
    font-size: 18px;
    color: #fff;
    background-color: #e41a2b;
    border: 1px solid #e41a2b;
    border-radius: 5px;
}
footer .letters button:hover{
    background-color: transparent;
    color:#e41a2b;
}
footer .copyright{
    padding-top: 60px;
}
footer .copyright p{
    border-top: 1px solid #fff;
    text-align: center;
    padding: 25px;

}
.cursor-pointer{
    cursor: pointer;
}